@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box'
}
    html {
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
    a {
        text-decoration: none;
    }
    .Section {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        }

    #Hello {
        background-image: url(img/cover.jpg);
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;
        
    }

    #Hello .Hello{
        max-width: 1200px;
        margin: 0 auto;  
        padding: 0 50px;
        justify-content: flex-start;

    }
    
    #Hello::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color:black;
        opacity: .6;
        z-index: -1;
    }

    #Hello h1 {
        display: block;
        width: fit-content;
        font-size: 32px;
        position: relative;
        color: transparent;
        animation: text_reveal 0.5s ease forwards;
        animation-delay: 1s;
    }

    #Hello h1:nth-child(1) {
        animation-delay: 1s;
    }

    #Hello h1:nth-child(2) {
        animation-delay: 2s;
    }

    #Hello h1:nth-child(3) {
        animation: text_reveal_name .5s ease forwards;
        animation-delay: 3s;
    }

    #Hello h1 span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        animation: text_reveal_box 1s ease forwards;
        animation-delay: .5s;
    }

    #Hello h1:nth-child(1) span{
        animation-delay: 0.5s;
    }
    #Hello h1:nth-child(2) span{
        animation-delay: 1.5s;
    }
    #Hello h1:nth-child(3) span{
        animation-delay: 2.5s;
    }

    #Hello .options {
        display:inline-block;
        padding: 10px 30 px;
        color: skyblue;
        background-color: transparent;
        border: 2px solid skyblue;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 32px;
        transition:.3s ease background-color;
        transition-property: background-color, color;
    }

    #Hello .options:hover {
        color: midnightblue;
        background-color: skyblue;


    }
    @keyframes text_reveal_box {
        50%{
            width:100%;
            left:0%;
        }
        100%{
            width: 0%;
            left: 100%
        }
    }

#resume .resume {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin:0 auto;
    padding: 100px 0;
    
}

#resume .section-title {
    font-size: 32px;
    font-weight: 300px;
    color: skyblue;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;
}

#resume .section-title span {
    color: skyblue
}

#resume .resume-top p{
    font-size: 20px;
    margin-top: 1px;
    line-height: 30px;
    font-weight: 20;
    letter-spacing: 0.8px;
    color: azure;
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

#resume .resume-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: skyblue;
    margin-top: 50px;
}

#resume .section-items {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/project.jpg);
    background-size: cover;
    margin: 10px 5px;
    position: relative;
    overflow: hidden;
}

#resume .section-items:nth-child(2) {
    background-image: url(./img/retail.jpg);
    background-size: cover;
}

#resume .section-items:nth-child(3) {
    background-image: url(./img/restaurant.jpeg);
    background-size: cover;
}


.resume .resume-bottom .icon {
    height: 100px;
    width: 100px;
    margin-bottom:20px;
}

#resume .section-items h2 {
font-size: 24px;
color: azure;
margin-bottom: 10px;
text-transform: uppercase;
}

#resume .section-items p {
    color:azure;
    text-align: left;

}


    @keyframes text_reveal { 
        100%{
            color: skyblue;
        }
    }
    @keyframes text_reveal_name { 
        100%{
            color: white;
        }
    }
